:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --batton-background-color: #F5F4FA;
    --color-fone: #FFFFFF;
    --background-color: #2F303A;
    
}


body {
    background-color: var(--color-fone);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);  
        
    
}


ul{
    list-style: none;
}

/**{
    color: black;
}

/*лого*/

.logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
          
}

.logo-studio {
    color: var(--title-text-color);
}


/*шапка*/
.nav{ 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}



.nav_batton {
    color: var(--title-text-color);
    text-decoration: none;
}

.nav_batton:hover,
.nav_batton:focus
{
    color: var(--accent-color);
    text-decoration: none;
}

.nav_batton:active{
    color: var(--title-text-color);
    text-decoration: none;
}

.nav_contacts{
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav_contacts:hover,
.nav_contacts:focus
{
    color: var(--accent-color);
    text-decoration: none;
}

.nav_contacts:active{
    color: var(--title-text-color);
    text-decoration: none;
}

.hero{
    /*position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    font-weight: 900;
    top: 280px;*/
    font-size: 44px; 
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: var(--color-fone);
}

.fiska-a{    
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.fishka-d{    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*секции*/
.section-title{
    color:  var(--title-text-color);    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.frends-name{    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;   
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.frends-prof{    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/*batton*/
.button{
    color: var(--title-text-color);
    background-color: var(--batton-background-color) 
    
}
.button:hover,
button:focus{
    color: var(--color-fone);
    background-color: var(--accent-color);   
}
.button-hero{
    color: var(--color-fone);
    background-color: var(--accent-color);    
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;    
}

.pointer {
    cursor: pointer;
  }

.project-logo{   
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);     
}

.pl{
    text-decoration: none;
}

.progject-text{   
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);    
}


.address{
    background-color: var(--background-color);
}

.address-map{ 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--color-fone);
    text-decoration: none;
}

.addres-mail,
.address-tel{    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    }


.logo-footer{
    color: var(--color-fone);
    
}